@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-weight: 400;
}